@import "tailwindcss";

@theme {
  /* Colors - Neo Brutalism Palette */
  --color-vibeflow-canvas: #FFFDF5;
  --color-vibeflow-yellow: #FFDD00;
  --color-vibeflow-blue: #54A0FF;
  --color-vibeflow-red: #FF6B6B;
  --color-vibeflow-green: #4ADE80;
  --color-vibeflow-purple: #D8B4FE;
  --color-vibeflow-dark: #000000;
  
  /* Shadows */
  --shadow-brutal: 4px 4px 0px 0px #000000;
  --shadow-brutal-lg: 8px 8px 0px 0px #000000;
  --shadow-brutal-sm: 2px 2px 0px 0px #000000;

  /* Fonts */
  --font-sans: var(--font-public-sans);
  --font-heading: var(--font-outfit);
}

/* Custom Utilities for Brutalism */
@layer utilities {
  .border-brutal {
    border: 3px solid black;
  }
  .shadow-brutal {
    box-shadow: 4px 4px 0px 0px black;
  }
  .shadow-brutal-hover {
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(4px, 4px);
  }
}

/* Global Reset */
body {
  background-color: var(--color-vibeflow-canvas);
  color: black;
  font-family: var(--font-public-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 800;
}
